body{font-size:1.5em;padding:1.5em;font-family:"Times New Roman",Georgia,serif;}
ul,ol{margin:30px 0px;padding:30px 55px;background-color:#FFF9E3;border-radius: 20px;box-shadow:inset 0px 0px 17px rgba(0,60,117,.1);}
ul ul,ol ul, ol ol, ul ol{margin:0px;padding:20px 40px;background-color:transparent;box-shadow:none;}
h1, h2, h3, p{padding:0px 0px 0px 0px;margin:0px 0px 1em 0px;}
h1{font-size:250%;}
h2{font-size:180%;color:#0C396C;}
h2:after{content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:12.5px 0 12.5px 25px;border-color:transparent transparent transparent #0C396C;margin:0px 0px 0px 10px;}
h3{padding:10px;border-radius:20px 0px 20px 0px;border-bottom:solid 2px rgba(30,87,153,.3);color:#1e5799;font-size:140%;}
p{line-height:1.4em;}
section{padding:0px 0px 50px 0px;margin:0px 0px 50px 0px;border-bottom:dashed 5px rgba(0,0,0,.3);}
cmd{display:block;background-color:#000;color:#fff;padding:5px 10px;margin:0px 0px 25px 0px;border:solid 3px #ccc;border-radius:5px;font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;}
p cmd,ul cmd{display:inline-block;white-space:nowrap;padding:0px 5px;margin:0px 0px 0px 0px;}
htm{font-weight:bold;color:#00714B;background-color:rgba(53, 217, 50, 0.1);border-radius:7px;display:inline-block;padding:0px 5px;font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;}
htm .attr{background-color:rgba(255, 190, 0, 0.1);}
htm .attr .key,htm .attr .sep{color:#00A66E;font-style:italic;}
htm .attr .sep{font-weight:normal;}
htm .attr .val{color:#CF7E54;}
htm.comment{background-color:transparent;color:#999999;font-weight:normal;}
/*slides AND code blocks*/
.outer-slides,.outer-code{text-align:center;margin:30px 0px;padding:30px 0px;background-color:rgba(0,0,0,.1);border-radius: 20px;}
.slides-wrap,.code-wrap{position:relative;display:inline-block;border:solid 3px #fff;border-radius:10px;box-shadow:-1px 1px 7px rgba(0,0,0,.8);}
.slides-wrap .header,.code-wrap .header{border-radius:4px 4px 0px 0px;
background: #1e5799;
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}
.slides-wrap .header .title,.code-wrap .header{color:#fff;font-size:1.2em;text-shadow:0px 0px 10px rgba(0,0,0,.6);text-align:left;padding:10px 69px 10px 15px;border-bottom:solid 3px #fff;}
.slides-wrap .header .count:before{content:"slide";display:block;}
.slides-wrap .header .count{display:inline-block;position:absolute;right:4px;top:4px;border-radius:4px;font-size:.63em;box-shadow:0px 0px 10px rgba(0,0,0,.5);text-align:center;background-color:#FFF1BE;padding:5px;opacity:.5;}
.slides-wrap .header .count .current{display:inline-block;}
.slides-wrap .header .count .current:after{content:"/";display:inline-block;padding:0px 2px;}
.slides-wrap .header .count .total{display:inline-block;}
.slides-wrap .imgs{position:relative;}
.slides-wrap .imgs img{opacity:0;position:absolute;top:0px;left:0px;display:block;}
.slides-wrap .imgs img.active{opacity:1;}
.slides-wrap .btns{border-radius:0px 0px 4px 4px;border-top:solid 3px #fff;padding:5px;color:#fff;
background: #4c4c4c;
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.slides-wrap .btns .btn{padding:5px 10px;background-color:rgba(0,0,0,.4);border:solid 1px rgba(255,255,255,.1);border-top:none;border-bottom:none;text-shadow:0px 0px 10px rgba(0,0,0,.6);cursor:pointer;}
.slides-wrap .btns .btn.hover{color:#000;background-color:rgba(255,255,255,.6);}
.slides-wrap .btns .btn.active{color:#fff;
background: #1e5799;
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}
.slides-wrap .slideLeft,.slides-wrap .slideRight{position:absolute;top:0px;bottom:0px;left:0px;right:0px;display:block;margin:auto;width:50px;height:50%;background-color:#fff;cursor:pointer;background-position:center;background-repeat:no-repeat;border:solid 5px transparent;box-sizing:border-box;-moz-box-sizing:border-box;}
.slides-wrap .slideLeft.disabled,.slides-wrap .slideRight.disabled{opacity:0;}
.slides-wrap .slideLeft{margin-left:-53px;box-shadow:-3px 0px 6px rgba(0,0,0,.6);border-radius: 10px 0px 0px 10px;background-image:url(../img/slideLeft.png);background-position:left center;}
.slides-wrap .slideRight{margin-right:-53px;box-shadow:3px 0px 6px rgba(0,0,0,.6);border-radius: 0px 10px 10px 0px;background-image:url(../img/slideRight.png);background-position:right center;}
.slides-wrap .slideRight.hover,.slides-wrap .slideLeft.hover{border:solid 5px #FFF1BE;}
.slides-wrap .slideRight.hover{border-left:none;}
.slides-wrap .slideLeft.hover{border-right:none;}
.slides-wrap .slideRight.active,.slides-wrap .slideLeft.active{background-color:#FFF1BE;}
/*code sections*/
.code-wrap{font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;font-size:.7em;}
.code-wrap .code-content{border-radius:0px 0px 7px 7px;border:solid 1px #ccc;background-color:#fff;}
.code-wrap .code-txt{box-sizing:border-box;-moz-box-sizing:border-box;overflow:auto;white-space:nowrap;min-width:500px;max-width:800px;max-height:800px;}
.code-wrap .line-numbers,.code-wrap .source{display:inline-block;float:left;}
.code-wrap .line-numbers{border-right:dashed 1px rgba(0,0,0,.5);border-radius:0px 0px 0px 7px;padding:0px 0px 10px 0px;background-color:#FFF9E3;}
.code-wrap .source{}
.code-wrap .line-numbers .line,.code-wrap .source .line{white-space:nowrap;line-height:1em;height:1em;display:block;padding:3px 5px;}
.code-wrap .source .line{padding:3px 10px;color:#292929;text-align:left;}
.code-wrap .line-numbers .line{color:#6C9221;font-weight:bold;text-align:center;}
.code-wrap .line-numbers .line:after{content:"."}
/*tokens*/
token, alias{white-space:nowrap;display:inline-block;font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;padding:2px 7px;background-color:#FFF9E3;border-radius:7px;box-shadow:inset 0px 0px 17px rgba(0,60,117,.1);font-size:95%;}
token .sep, token .startTag, token .endTag{color:#B26313;font-weight:normal;opacity:.6;}
token .sep{display:inline-block;}
token .startTag, token .endTag{display:inline-block;}
token .startTag{float:left;margin-right:5px;}
token .endTag{margin-left:5px;}
token .src.sep,token .al.sep{margin:0px 7px;}
token .al.sep{}
token .src.sep{color:#C3B082;}
token > span{padding-top:2px;padding-bottom:2px;}
token .part, alias{display:inline-block;font-weight:bold;}
token .type.part{float:left;color:#cc6633;}
token .casing.part{color:#33674d;}
token .name.part{color:#006699;}
token .alias.part, alias{color:#663399;}
token .source.part{float:right;color:#1F317C;font-weight:bold;font-style:italic;}
token .path.part{color:#0F498E;}