/*BODY*/
body{font-size:2em;font-family:sans-serif;margin:0;padding:0;}
body *{vertical-align:middle;}
h1,h2,h3{margin:0;padding:0;}
h1{text-transform:uppercase;font-size:80%;}
h2{}
h3{}
input[type="text"]{background-color:transparent;border:dashed 1px;width:100%;height:2em;line-height:2em;font-size:50%;box-sizing:border-box;-moz-box-sizing:border-box;padding:0 .5em;}
.title{margin-bottom:.3em;white-space:nowrap;}
.title h1{display:inline-block;}
.title .options{position:relative;z-index:999;display:inline-block;width:.6em;height:.9em;cursor:pointer;}
.title .options .arrow{position:relative;width:.4em;height:.4em;padding:.1em;display:block;}
.title .options ul,li.parent ul{position:absolute;left:0;top:65%;display:none;margin:0;padding:0;box-shadow:-5px 5px 10px rgba(0,0,0,0.8);box-sizing:border-box;-moz-box-sizing:border-box;border:solid 3px;}
li.parent ul{top:100%;min-width:100%;}
li.parent:last-child ul{left:initial;right:0;}
.title .options:hover ul,li.parent:hover ul{display:block;}
.title .options ul li,li.parent ul li{display:block;list-style:none;font-size:43%;font-weight:bold;padding:.5em .5em;white-space:nowrap;border-bottom:.1em dashed;}
li.parent ul li{font-size:95%;text-transform:none;}
.title .options ul li:last-child,li.parent ul li:last-child{border-bottom:none;}
.title .options .arrow:before{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;content:"";width:0;height:0;border-style:solid;border-width:.4em .2em 0 .2em;}
.size-controls{height:.9em;text-align:right;}
.resize.width{width:.2em;position:absolute;right:0;top:0;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;cursor:ew-resize;z-index:990;}
svg{display:inline-block;width:100%;height:100%;}
.search{position:relative;}
.search input{padding-right:2.3em;opacity:.7;font-style:italic;}
.search.text-entered input{opacity:1;font-style:normal;} 
.search .search-btn{opacity:.5;width:2.3em;height:100%;position:absolute;right:.8em;font-size:50%;top:0;left:auto;bottom:0;cursor:pointer;border:solid .2em transparent;box-sizing:border-box;-moz-box-sizing:border-box;}
.search.text-entered .search-btn{opacity:1;}
/*COLOR PALETTE*/
/*main background color*/
body,.title .options ul li:hover,li.parent ul li:hover{background-color:#01131A;} #menu-bar > ul > li:hover,#menu-bar > ul > li.on:hover,.title .options ul li,li.parent ul li{color:#01131A;} div:hover > svg *,#templates .on-off:hover path,#templates .opened-closed:hover path,#templates .menu-btn:hover path{fill:#01131A;} .title .options:hover .arrow:before,#menu-bar ul li.parent:hover:after{border-color:#01131A transparent transparent transparent;}
/*default color*/
body,input[type="text"],#menu-bar,.title .options ul li:hover,li.parent ul li:hover{color:#BC6684;} .folder:hover,.pin:hover,.resize,#menu-bar > ul > li:hover,.title .options:hover .arrow,#menu-bar > ul > li.on,.folder:hover svg,.title .options ul,li.parent ul,::-webkit-scrollbar-thumb,#templates nav.ls .on-off:hover,#templates nav.ls .opened-closed:hover,#templates nav.ls .menu-btn:hover,.slide-in .unpinned:hover,.search .search-btn:hover{background-color:#BC6684;} input[type="text"]{border-color:#BC6684;} .title .options .arrow:before,#menu-bar ul li.parent:after{border-color:#BC6684 transparent transparent transparent;} .title .options ul, li.parent ul{border-color:#BC6684;} svg *{fill:#BC6684;}
/*SCROLLBARS*/
::-webkit-scrollbar{width:.28em;height:.28em}
::-webkit-scrollbar-track{background-color:transparent;border:none;}
::-webkit-scrollbar-corner{display:none;}
/*SVG ICONS*/
.folder,.pin{width:.9em;height:.9em;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;display:inline-block;}
.folder{padding:.01em;}
.pin{position:relative;overflow:hidden;}
.pinned .pin .out,.unpinned .pin .in{position:absolute;left:-1000px;}
.pinned .pin .in,.unpinned .pin .out{position:relative;left:0px;}
/*LOADING 1*/
.loading{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,222,222,.1);}
.loading.active{display:block;}
.loading svg,.loading img{width:15%;height:15%;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.loading svg path.track{fill:#00FF01;}
.loading svg path.runner{fill:#1C5200;}
/*MENU-BAR*/
#menu-bar{position:fixed;left:0;top:0;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;padding:.1em;line-height:60%;display:block;border-bottom:solid .1em;z-index:9999;}
#menu-bar > ul{padding:0;margin:0;display:inline-block;width:100%;line-height:60%;}
#menu-bar > ul > li{position:relative;cursor:pointer;display:inline-block;font-size:44%;font-weight:bold;padding:.3em 1.5em;line-height:100%;text-transform:uppercase;float:left;}
#menu-bar > ul > li.parent:after{content:"";display:inline-block;margin-left:.3em;width:0;height:0;border-style:solid;border-width:.5em .3em 0 .3em;}
#menu-bar > ul > li:last-child{float:right;margin-right:0;}
/*CONTENT*/
#content{display:block;/*border:solid 3px;*/position:fixed;left:0;right:0;top:1em;bottom:0;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;}
/*TEMPLATES*/
#templates,#workspace{position:absolute;left:0;top:0;bottom:0;margin:auto 0;width:25%;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;}
#templates.unpinned .resize.width{display:none;}
#templates.unpinned{border-right:solid .1em;width:1.1em;}
.slide-view > #workspace{width:100%;padding-left:1.1em;}
.slide-in #templates.unpinned *{display:none;}
.slide-out #templates.unpinned{width:25%;}
.slide-view.slide-out > #workspace{width:75%;padding-left:0;}
#templates header > div,#templates .content{padding:0 .4em 0 .2em;}
#templates header > div.size-controls{padding:0 .1em;}
#templates .content{box-sizing:border-box;-moz-box-sizing:border-box;display:block;width:100%;height:100%;padding-top:.2em;padding-bottom:.2em;}
#templates .content > nav.ls{width:100%;height:100%;padding:.1em;padding-left:0;overflow:auto;display:block;box-sizing:border-box;-moz-box-sizing:border-box;font-size:54%;}
#templates .content nav.ls ul{margin:0;padding:0;}
#templates .content nav.ls ul ul{padding-left:1em;}
#templates .content nav.ls ul ul ul{padding-left:3.5em;font-size:92%;opacity:.8;}
#templates .content nav.ls ul li{list-style:none;}
#templates .content nav.ls ul li.off{opacity:.4;text-decoration:line-through;}

#templates li.closed > ul{display:none;}
#templates li.opened > ul{display:block;}
#templates nav.ls > ul.ls.folders{}
#templates nav.ls .dir{white-space:nowrap;}
#templates nav.ls .file{white-space:nowrap;}
#templates nav.ls .token{white-space:nowrap;}
#templates nav.ls .include{white-space:nowrap;opacity:.8;}
#templates nav.ls .hid{white-space:nowrap;opacity:.8;}
#templates nav.ls .hid-templates{white-space:nowrap;}
#templates nav.ls .icon{display:inline-block;width:1.3em;height:1.3em;margin-right:.2em;}
#templates nav.ls .opened-closed{display:inline-block;width:.7em;height:.7em;margin-right:.1em;cursor:pointer;padding:.3em;}
#templates nav.ls .no-tokens > span .opened-closed,
#templates nav.ls .no-includes > span .opened-closed,
#templates nav.ls .no-files > span .opened-closed{visibility:hidden;}
#templates nav.ls .menu-btn{display:inline-block;width:.9em;height:.9em;margin-left:.2em;padding:.1em;cursor:pointer;visibility:hidden;}
#templates nav.ls span:hover > .menu-btn{visibility:visible;}
#templates nav.ls .dir .path{display:inline-block;}
#templates nav.ls .on-off{display:inline-block;width:.9em;height:.9em;padding:.1em;margin-right:.2em;cursor:pointer;}
#templates nav.ls .opened > .dir span.closed,#templates nav.ls .closed > .dir span.opened,
#templates nav.ls .opened > .file span.closed,#templates nav.ls .closed > .file span.opened,
#templates nav.ls .opened > .include span.closed,#templates nav.ls .closed > .include span.opened,
#templates nav.ls .opened > .hid span.closed,#templates nav.ls .closed > .hid span.opened,
/*#templates nav.ls .opened > .hidden span.closed,#templates nav.ls .closed > .hidden span.opened,*/
#templates nav.ls .opened > .hid-templates span.closed,#templates nav.ls .closed > .hid-templates span.opened
{display:none;}
#templates nav.ls .closed > .dir span.closed,#templates nav.ls .opened > .dir span.opened,
#templates nav.ls .closed > .file span.closed,#templates nav.ls .opened > .file span.opened,
#templates nav.ls .closed > .include span.closed,#templates nav.ls .opened > .include span.opened,
#templates nav.ls .closed > .hid span.closed,#templates nav.ls .opened > .hid span.opened,
/*#templates nav.ls .closed > .hidden span.closed,#templates nav.ls .opened > .hidden span.opened,*/
#templates nav.ls .closed > .hid-templates span.closed,#templates nav.ls .opened > .hid-templates span.opened
{display:inline-block;width:inherit;}
#templates nav.ls .token .start-tag,#templates nav.ls .token .end-tag{display:inline-block;width:1em;height:1em;opacity:.7;}
#templates nav.ls ul.ls.folders > li.opened{margin-bottom:1em;}
#templates nav.ls .token .start-tag svg,#templates nav.ls .token .end-tag svg{display:inline-block;width:50%;}
#templates nav.ls .token .start-tag{margin-right:.2em;}
#templates nav.ls .token .end-tag{margin-left:.2em;}

#templates nav.ls .intro{font-style:italic;}

#templates .content nav.ls ul.hidden.files{margin-top:1em;}
#templates nav.ls > ul.hidden.folders{opacity:.8;margin-top:1em;}
/*WORKSPACE*/
#workspace{left:initial;right:0;width:75%;}