/*BODY*/
body{font-size:2em;font-family:sans-serif;margin:0;padding:0;}
body *{vertical-align:middle;}
h1,h2,h3{margin:0;padding:0;}
h1{text-transform:uppercase;font-size:80%;}
h2{}
h3{}
input[type="text"]{background-color:transparent;border:dashed .1em;width:100%;height:2em;line-height:2em;font-size:50%;box-sizing:border-box;-moz-box-sizing:border-box;padding:0 .5em;}
input:focus,textarea:focus{outline:none;}
.title{margin-bottom:.3em;white-space:nowrap;}
.title h1{display:inline-block;}
.title .options{position:relative;z-index:999;display:inline-block;width:.6em;height:.9em;cursor:pointer;}
.title .options .arrow{position:relative;width:.4em;height:.4em;padding:.1em;display:block;}
.title .options ul,li.parent ul{position:absolute;left:0;top:65%;display:none;margin:0;padding:0;box-shadow:-5px 5px 10px rgba(0,0,0,0.8);box-sizing:border-box;-moz-box-sizing:border-box;border:solid 3px;}
li.parent ul{top:100%;min-width:100%;}
li.parent:last-child ul{left:initial;right:0;}
.title .options:hover ul,li.parent:hover ul{display:block;}
.title .options ul li,li.parent ul li{display:block;list-style:none;font-size:43%;font-weight:bold;padding:.5em .5em;white-space:nowrap;border-bottom:.1em dashed;}
li.parent ul li{font-size:95%;text-transform:none;}
.title .options ul li:last-child,li.parent ul li:last-child{border-bottom:none;}
.title .options .arrow:before{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;content:"";width:0;height:0;border-style:solid;border-width:.4em .2em 0 .2em;}
.size-controls{height:.9em;text-align:right;}
.size-controls > .title{display:block;float:left;text-transform:uppercase;padding:.4em;margin:0;font-size:50%;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;}
.resize.width,.resize.height{width:.2em;position:absolute;right:0;top:0;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;cursor:ew-resize;z-index:990;}
.resize.width.ui-draggable-dragging,.resize.height.ui-draggable-dragging{box-shadow:-5px 5px 10px rgba(0,0,0,0.8);}
.resize.height{width:100%;height:.2em;cursor:ns-resize;}
svg{display:inline-block;width:100%;height:100%;}
.search{position:relative;}
.search input{padding-right:2.3em;opacity:.7;font-style:italic;font-weight:normal;}
.search.text-entered input{opacity:1;font-style:normal;padding-left:1.5em;} 
.search .search-btn,.search .clear-btn{opacity:.5;width:2.3em;height:2em;position:absolute;right:.8em;font-size:50%;top:0;left:auto;bottom:0;cursor:pointer;border:solid .2em transparent;box-sizing:border-box;-moz-box-sizing:border-box;}
.search .clear-btn{right:initial;left:.4em;display:none;width:1.5em;font-size:50%;}
.search.text-entered .clear-btn{display:block;opacity:.7;}
.search.text-entered .search-btn{opacity:1;}
found{border-radius:.2em;display:inline-block;line-height:inherit;font-style:normal;opacity:.2;}
.search .found-count{visibility:hidden;text-align:right;font-weight:bold;font-size:48%;padding-top:.3em;z-index:993;white-space:nowrap;}
.search.results .found-count{display:block;visibility:visible;}
.search .found-count .current{display:inline-block;white-space:nowrap;}
.search.atLast .found-count .current:before{content:"( end )";display:inline-block;margin-right:1em;font-weight:bold;}
.search .found-count .current:after{content:"/";display:inline-block;padding-left:.3em;}
.search .found-count .total{display:inline-block;white-space:nowrap;}
.search .found-count .prev,.search .found-count .next{display:inline-block;height:1em;width:1em;margin-left:.3em;cursor:pointer;}
.search .found-count .prev{}
.search .found-count .next{}
found.glow{opacity:1;font-weight:bold;text-decoration:underline;}
found.highlight{font-weight:bold;font-style:italic;text-decoration:none;}
found.glow.highlight{margin:0 .2em;}
found.glow:before,found.glow:after{font-style:normal;opacity:.8;}
found.highlight:before,found.highlight:after{opacity:1;font-weight:Bold;text-decoration:none;}
found.highlight:before{content:"{";padding-right:.1em;}
found.highlight:after{content:"}";padding-left:.1em;}
/*COLOR PALETTE*/
/*main background color*/
body,.title .options ul li:hover,li.parent ul li:hover,#main-view .file-icon:hover{background-color:#01131A;} #menu-bar > ul > li:hover,#menu-bar > ul > li.on:hover,.title .options ul li,li.parent ul li,.tree-view nav.tabs > span.tree-view,.file-view nav.tabs > span.file-view,#main-view .template-files .dropdown:after,#main-view .prev-next > div:before,#templates li.selected > .dir,#templates li.selected li.selected > .file, #templates li.selected > span found,li.selected > span found.glow:before, li.selected > span found.glow:after{color:#01131A;} div:hover > svg *,#templates .on-off:hover path,#templates .opened-closed:hover path,#templates .menu-btn:hover path,.search.do-search .search-btn path,#main-view .file-icon path,#templates li.selected > .dir path,#templates li.selected li.selected > .file path{fill:#01131A;} .title .options:hover .arrow:before,#menu-bar ul li.parent:hover:after{border-color:#01131A transparent transparent transparent;}
/*default color*/
body,input[type="text"],#menu-bar,.title .options ul li:hover,li.parent ul li:hover{color:#BC6684;} .folder:hover,.pin:hover,.toggle-expand:hover,.resize,#menu-bar > ul > li:hover,.title .options:hover .arrow,#menu-bar > ul > li.on,.folder:hover svg,.title .options ul,li.parent ul,::-webkit-scrollbar-thumb,#templates nav.ls .on-off:hover,#templates nav.ls .opened-closed:hover,#templates nav.ls .menu-btn:hover,.slide-in .unpinned:hover,.search .search-btn:hover,.search.do-search .search-btn,.search .clear-btn:hover,.search .found-count .prev:hover, .search .found-count .next:hover,#templates nav.ls .token .part .i:before,.tree-view nav.tabs > span.tree-view,.file-view nav.tabs > span.file-view,#main-view .template-files,#templates li.selected > .dir,#templates li.selected li.selected > .file{background-color:#BC6684;} input[type="text"]{border-color:#BC6684;} .title .options .arrow:before,#menu-bar ul li.parent:after{border-color:#BC6684 transparent transparent transparent;} .title .options ul, li.parent ul{border-color:#BC6684;} svg *,#main-view .file-icon:hover path{fill:#BC6684;}
/*highlight color*/
found.highlight:before,found.highlight:after{text-shadow:0 0 1em rgba(181,137,0,1);}
#templates li.selected > .dir found:before,#templates li.selected > .dir found:after,#templates li.selected li.selected > .file found:before,#templates li.selected li.selected > .file found:after{text-shadow:none;}
found.glow:before,found.glow:after,found{color:rgba(181,137,0,1);}
/*SELECT DROPDOWNS*/
select{cursor:pointer;position:relative;-webkit-appearance:none;outline:none;border:0;background-color:transparent;}
/*SCROLLBARS*/
::-webkit-scrollbar{width:.28em;height:.28em}
::-webkit-scrollbar-track{background-color:transparent;border:none;}
::-webkit-scrollbar-corner{display:none;}
/*SVG ICONS*/
.folder,.pin,.toggle-expand{width:.9em;height:.9em;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;display:inline-block;}
.folder{padding:.01em;}
.pin,.toggle-expand{position:relative;overflow:hidden;}
.pinned .pin .out,.unpinned .pin .in{position:absolute;left:-1000px;}
.pinned .pin .in,.unpinned .pin .out{position:relative;left:0px;}
.expanded .toggle-expand .collapse,.collapsed .toggle-expand .expand{position:absolute;left:-1000px;}
.expanded .toggle-expand .expand,.collapsed .toggle-expand .collapse{position:relative;left:0px;}
/*LOADING 1*/
.loading{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,222,222,.1);}
.loading.active{display:block;}
.loading svg,.loading img{width:15%;height:15%;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.loading svg path.track{fill:#00FF01;}
.loading svg path.runner{fill:#1C5200;}
/*MENU-BAR*/
#menu-bar{position:fixed;left:0;top:0;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;padding:.1em;line-height:60%;display:block;border-bottom:solid .1em;z-index:9999;}
#menu-bar > ul{padding:0;margin:0;display:inline-block;width:100%;line-height:60%;}
#menu-bar > ul > li{position:relative;cursor:pointer;display:inline-block;font-size:44%;font-weight:bold;padding:.3em 1.5em;line-height:100%;text-transform:uppercase;float:left;}
#menu-bar > ul > li.parent:after{content:"";display:inline-block;margin-left:.3em;width:0;height:0;border-style:solid;border-width:.5em .3em 0 .3em;}
#menu-bar > ul > li:last-child{float:right;margin-right:0;}
/*CONTENT*/
#content{display:block;/*border:solid 3px;*/position:fixed;left:0;right:0;top:1em;bottom:0;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;}
/*TEMPLATES*/
#templates,#workspace{position:absolute;left:0;top:0;bottom:0;margin:auto 0;width:25%;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;}
#templates.unpinned .resize.width{display:none;}
#templates.unpinned{border-right:dashed .1em;width:1.1em;}
.slide-view > #workspace{width:auto;left:1.1em;}
.slide-in #templates.unpinned *{display:none;}
.slide-out #templates.unpinned{width:25%;}
.slide-view.slide-out > #workspace{width:75%;left:initial;}
#templates header > div,#templates .content{padding:0 .4em 0 .2em;}
#templates header > div.size-controls{padding:0 .1em;}
#templates .content{box-sizing:border-box;-moz-box-sizing:border-box;display:block;width:100%;height:100%;padding-top:.2em;padding-bottom:.2em;}
#templates .content > nav.ls{position:relative;width:100%;height:100%;padding:.1em;padding-left:0;overflow:auto;display:block;box-sizing:border-box;-moz-box-sizing:border-box;font-size:54%;}
#templates .content nav.ls ul{margin:0;padding:0;}
#templates .content nav.ls ul ul{padding-left:1em;}
#templates .content nav.ls ul ul ul{padding-left:3.5em;font-size:92%;opacity:.8;}
#templates .content nav.ls ul li{list-style:none;}
#templates .content nav.ls ul li.off{opacity:.4;text-decoration:line-through;}
#templates .content nav.ls ul li.error > span{text-decoration:underline;cursor:pointer;}

#templates li.closed > ul{display:none;}
#templates li.opened > ul{display:block;}
#templates nav.ls > ul.ls.folders{}
#templates nav.ls .dir{white-space:nowrap;display:inline-block;min-width:100%;}
#templates nav.ls .file{white-space:nowrap;display:inline-block;min-width:100%;}
#templates nav.ls .token{white-space:nowrap;vertical-align:top;}
#templates nav.ls .token *{vertical-align:top;}
#templates nav.ls .include{white-space:nowrap;opacity:.8;}
#templates nav.ls .hid{white-space:nowrap;opacity:.8;}
#templates nav.ls .hid-templates{white-space:nowrap;}
#templates nav.ls .icon{display:inline-block;width:1.3em;height:1.3em;margin-right:.2em;}
#templates nav.ls .opened-closed{display:inline-block;width:.7em;height:.7em;margin-right:.1em;cursor:pointer;padding:.3em;}
#templates nav.ls .no-dirs > span .opened-closed,
#templates nav.ls .no-tokens > span .opened-closed,
#templates nav.ls .no-includes > span .opened-closed,
#templates nav.ls .no-files > span .opened-closed{visibility:hidden;}
#templates nav.ls .menu-btn{display:inline-block;width:.9em;height:.9em;margin-left:.2em;padding:.1em;cursor:pointer;visibility:hidden;}
#templates nav.ls span:hover > .menu-btn{visibility:visible;}
#templates nav.ls .dir .path{display:inline-block;cursor:pointer;}
#templates nav.ls .file .name{cursor:pointer;}
#templates nav.ls .on-off{display:inline-block;width:.9em;height:.9em;padding:.1em;margin-right:.2em;cursor:pointer;}
#templates nav.ls .opened > .dir span.closed,#templates nav.ls .closed > .dir span.opened,
#templates nav.ls .opened > .file span.closed,#templates nav.ls .closed > .file span.opened,
#templates nav.ls .opened > .include span.closed,#templates nav.ls .closed > .include span.opened,
#templates nav.ls .opened > .hid span.closed,#templates nav.ls .closed > .hid span.opened,
#templates nav.ls .opened > .hid-templates span.closed,#templates nav.ls .closed > .hid-templates span.opened
{display:none;}
#templates nav.ls .closed > .dir span.closed,#templates nav.ls .opened > .dir span.opened,
#templates nav.ls .closed > .file span.closed,#templates nav.ls .opened > .file span.opened,
#templates nav.ls .closed > .include span.closed,#templates nav.ls .opened > .include span.opened,
#templates nav.ls .closed > .hid span.closed,#templates nav.ls .opened > .hid span.opened,
#templates nav.ls .closed > .hid-templates span.closed,#templates nav.ls .opened > .hid-templates span.opened
{display:inline-block;width:inherit;}
#templates nav.ls .token .start-tag,#templates nav.ls .token .end-tag{display:inline-block;width:1em;height:1em;opacity:.7;}
#templates nav.ls ul.ls.folders > li.opened{margin-bottom:1em;}
#templates nav.ls .token .start-tag svg,#templates nav.ls .token .end-tag svg{display:inline-block;width:50%;}
#templates nav.ls .token .start-tag{margin-right:.2em;}
#templates nav.ls .token .end-tag{margin-left:.2em;}
#templates nav.ls .token .part,#templates nav.ls .token .sep{display:inline-block;}
#templates nav.ls .token .sep{width:1em;height:1em;}
#templates nav.ls .token .sep.after_name.before_alias{padding:0 .3em;}
#templates nav.ls .token .part.name{font-weight:bold;}
#templates nav.ls .token .part.alias{font-weight:bold;padding-right:.3em;}
#templates nav.ls .token .part.options{white-space:normal;}
#templates nav.ls .token .part.options.many{display:block;padding-left:2.5em;}
#templates nav.ls .token .part .i{display:inline-block;}
#templates nav.ls .token .part.many .i{margin:.1em 0;}
#templates nav.ls .token .part .i:before{content:"|";display:inline-block;font-weight:bold;margin:0 .3em;border-radius:.3em 0;}
#templates nav.ls .token .part .i:first-child:before{display:none;}

#templates nav.ls .intro{font-style:italic;}

#templates .content nav.ls ul.hidden.files{margin-top:1em;}
#templates nav.ls > ul.hidden.folders{opacity:.8;margin-top:1em;}
/*WORKSPACE*/
#workspace{left:initial;right:0;width:75%;}
#workspace header{}
#workspace .content{}
#workspace .lcol,#workspace .rcol{display:inline-block;}
#workspace .lcol{width:80%;}
#workspace .rcol{width:20%;}
/*MAIN VIEW*/
#main-view{display:block;height:65%;width:100%;position:absolute;left:0;top:0;box-sizing:border-box;-moz-box-sizing:border-box;}
#workspace.collapse-input-view > #main-view{height:auto;bottom:.9em;}
#main-view .title{font-size:85%;width:100%;overflow:hidden;}
#main-view .title h1{text-transform:none;}
#main-view header{padding:0 .2em;}
#main-view nav.tabs{font-size:50%;}
#main-view nav.tabs > span{display:inline-block;padding:.3em .8em;text-transform:uppercase;font-weight:bold;cursor:pointer;}
#main-view.tree-view nav.tabs > span.tree-view,#main-view.file-view nav.tabs > span.file-view{cursor:text;}
#main-view .template-files{position:relative;box-sizing:border-box;-moz-box-sizing:border-box;width:100%;padding:.1em .35em;padding-right:4.5em;text-align:left;}
#main-view .template-files .prev-next{position:absolute;right:0;top:0;bottom:0;margin:auto;width:4.5em;padding:.2em .35em;box-sizing:border-box;-moz-box-sizing:border-box;}
#main-view .template-files .prev-next > div{display:inline-block;width:50%;height:100%;float:left;cursor:pointer;text-align:center;box-sizing:border-box;-moz-box-sizing:border-box;}
#main-view .template-files .prev-next > div:before{display:inline-block;content:"";width:0;height:0;border-style:solid;}
#main-view .template-files .prev-next > div.prev:before{border-width:.3em .6em .3em 0;border-top-color:transparent;border-left-color:transparent;border-bottom-color:transparent;}
#main-view .template-files .prev-next > div.next:before{border-width:.3em 0 .3em .6em;border-right-color:transparent;border-top-color:transparent;border-bottom-color:transparent;}
#main-view .template-files .dropdown{padding-left:.8em;position:relative;max-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;display:inline-block;}
#main-view .template-files .dropdown:after{content:"";width:0;height:0;border-style:solid;border-width:.2em .15em 0 .15em;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;position:absolute;right:.2em;top:0;bottom:0;margin:auto;z-index:1;}
#main-view .template-files .file-icon{position:absolute;left:0;top:0;bottom:0;margin:auto;width:.6em;height:.6em;display:block;cursor:pointer;}
#main-view .template-files select{width:100%;display:none;font-size:50%;padding:.1em 1.5em .1em .1em;z-index:10;border-radius:.5em;}
#main-view .template-files select.active{display:block;}
/*INPUT VIEW*/
#input-view{display:block;height:35%;width:100%;position:absolute;left:0;bottom:0;box-sizing:border-box;-moz-box-sizing:border-box;}
#workspace.collapse-input-view > #input-view{height:.9em;overflow:hidden;}
#workspace.collapse-input-view > #input-view > div{display:none;}
#input-view .size-controls{margin-top:.2em;}
#workspace.collapse-input-view > #input-view .size-controls{margin-top:0;border-top:solid .1em;}
